################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AppImage/v15
/AppImage/AppImage/bin/Debug/netstandard2.0
/AppImage/AppImage/obj
/AppImage/AppImage.Android/bin/Debug
/AppImage/AppImage.Android/obj
/AppImage/AppImage.iOS/bin/iPhoneSimulator/Debug
/AppImage/AppImage.iOS/obj
